@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
<div class="d-flex justify-content-center">
    <h2>Welcome!!!!!!!!!!</h2>
</div>
<form>
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary" asp-area="" asp-controller="UserLogin" asp-action="Login">ログイン</button> 
    </div>
</form>
</div>
